<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div class="container">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="close">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="center">{{title}}</h1>
    <mat-divider></mat-divider><br>       
    <div class="row">
        <div class="col-12" id="data">   
            <div class="text-center">
                <mat-label class="label">Marca:</mat-label><mat-label class="label-right">{{datos.nombreMarca}}</mat-label>   
            </div>
            <div class="text-center">
                <mat-label class="label">Estilo:</mat-label><mat-label class="label-right">{{datos.nombreEstilo}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">País:</mat-label><mat-label class="label-right">{{datos.nombrePais}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Ciudad:</mat-label><mat-label class="label-right">{{datos.nombreCiudad.split("(", 3)[0]}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Ibu:</mat-label><mat-label class="label-right">{{datos.ibu}}</mat-label>    
            </div>
            <div class="text-center">
                <mat-label class="label">Alcohol:</mat-label><mat-label class="label-right">{{datos.alcohol}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Contenido:</mat-label><mat-label class="label-right">{{datos.contenido}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Observaciones:</mat-label>
            </div>
            <div class="">
                <mat-label>{{datos.observaciones}}</mat-label>
            </div>
            <div class="center center-button">                
                <button type="button" class="btn btn-outline-success text-center" [hidden]="!admin" (click)="editar(datos)"><mat-icon style="cursor: pointer; margin-right: 5px;">edit_square</mat-icon>Editar</button>
            </div>
        </div>
        <div class="col-12" hidden>
            <div>
                <img id="image-beer" [src]="imageFileSanitized" alt="Imagen" style="width: 100%; max-height: 50vh;">
            </div>
        </div>     
    </div>

</div>