.container{
    padding: 30px;
    color: black;
    background-color: rgba(255,255,255,1);
}

.text-center{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(255,255,255,0.6)
}

.text{
    background-color: rgba(255,255,255,0.6)
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

mat-label{
    font-size: 1.2rem;
}

.label{
    font-weight: 600;
}

.label-right{
    text-align: end;
}

.image-beer{
    position: absolute;
    opacity: 0.3;
}

.center-button{
    padding: 20px 0px;
}

.close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    right: 0px;
    padding: 0;
}

.data{
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
}