<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div class="container background" [ngStyle]="{'background-image': 'url(' + imageFileSanitized + ')',  'background-size': 'cover',
'background-repeat': 'no-repeat', 'height': '100%'}">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="close">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="text center">{{title}}</h1>
    <div class="text center center-button"  *ngIf="isAdmin">                
        <button type="button" class="btn btn-success text-center button" (click)="editar(datos)"><mat-icon style="cursor: pointer; margin-right: 5px;">edit_square</mat-icon>Editar<mat-icon></mat-icon></button>
    </div>
    <mat-divider></mat-divider><br>       
    <div class="">
        <div class="col-12" id="data">             
            <div class="text-center">
                <mat-label class="label">Marca:</mat-label><mat-label class="label-right">{{datos.nombreMarca}}</mat-label>   
            </div>
            <div class="text-center">
                <mat-label class="label">Estilo:</mat-label><mat-label class="label-right">{{datos.nombreEstilo}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">País:</mat-label><mat-label class="label-right">{{datos.nombrePais}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Ciudad:</mat-label><mat-label class="label-right">{{datos.nombreCiudad.split("(", 3)[0]}}</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Ibu:</mat-label><mat-label class="label-right">{{datos.ibu}}</mat-label>    
            </div>
            <div class="text-center">
                <mat-label class="label">Alcohol:</mat-label><mat-label class="label-right">{{datos.alcohol}}%</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Contenido:</mat-label><mat-label class="label-right">{{datos.contenido}}ml/cc</mat-label>
            </div>
            <div class="text-center">
                <mat-label class="label">Observaciones:</mat-label>
            </div>
            <div class="text">
                <mat-label>{{datos.observaciones}}</mat-label>
            </div>
            
            <div class="spacer"></div>
        </div>     
    </div>

</div>