.container{
    padding: 30px;
    color: black;
    background-color: rgba(255,255,255,1);
    height: 80vh;
}

.text-center{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 5px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    /*background-color: rgba(255,255,255,0.6);*/
}

.text{
    /*background-color: rgba(255,255,255,0.6);*/
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 0px 5px;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

mat-label{
    font-size: 1.2rem;
}

.label{
    font-weight: 600;
}

.label-right{
    text-align: end;
}

.image-beer{
    position: absolute;
    opacity: 0.3;
}

.center-button{
    bottom: 0;
    padding: 20px 0px;
}

.close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    right: 0px;
    padding: 0;
}

.button{
    padding: 8px;
    width: 100%;
}

#data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.background{
    height: 100%;
}

/* #data{
    -khtml-opacity:.80; 
    -moz-opacity:.80; 
    -ms-filter:"alpha(opacity=80)";
     filter:alpha(opacity=80);
     filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
     opacity:.80; 
} */