body{
    background-color: #323232;
    padding: 10px;
}

.dialog-actions{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

  .green{
    background-color: green;
}

.delete{
    background-color: crimson;
}
