<app-banner-title
text="Marcas"
icon="local_mall"
(btnAdd)="openDialog()"
></app-banner-title>
<div class="card-body">
    <div class="tab-content">
        <div class="active tab-pane">
            <mat-form-field class="search">
                <input matInput placeholder="Buscar" (keyup)="applyFilter($any($event.target).value)">
                <mat-icon matPrefix class="my-icon">search</mat-icon>
            </mat-form-field>
            <div class="col-sm-12">
                <table mat-table [dataSource]="dataSource" class="tabla" #table>                          
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="text-end">Acciones</th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <section>                                
                                <div class="example-button-row">
                                    <div class="example-flex-container">                                                           
                                        <button mat-mini-fab class="green" (click)="ver(element)">                                    
                                            <mat-icon style="cursor: pointer;">edit_square</mat-icon>                                    
                                        </button>
                                        &nbsp;&nbsp;
                                        <button mat-mini-fab class="delete" (click)="eliminar(element)">                                    
                                            <mat-icon style="cursor: pointer;">delete</mat-icon>                                    
                                        </button>                           
                                    </div>
                                </div>                                
                            </section>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="nombreColumnas" style="background-color: #656565"></tr>
                    <tr class="fila" mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                                aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

