  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
  }

  body{    
    background-color: #323232;
    min-height: 90vh;
  }

  p {
    margin: 0;
  }

  mat-sidenav-container{
    min-height: 90vh;
  }

  mat-sidenav-content{
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .button-login{ 
    background-color: rgba(80, 200, 0, 0.8);
  }

  .mat-drawer{    
    box-shadow: rgba(0, 0, 0, 0.54) 5px 5px 18px;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    background-color: #323232;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
    background: -webkit-linear-gradient(#65cd23, #005333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .nav-list{
    min-width: 200px;
  }
  
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    padding-left: 10px;
  }
  
  .center:hover{
    background-color: #505050
  }
  
  .center-icon{
    margin-left: 8px;
  }
  
  a:hover{
    background-color: #424242;
  }
  
  .beer-icon{
    margin-left: 0.5rem;
    color: rgba(239, 191, 102, 0.894);
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    /*animation: 0.5s ease-out 0s 1 transitionLeft;*/
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  
  @keyframes shake {
    0% { transform: rotate(0deg); }  
    10% { transform: rotate(10deg); }  
    20% { transform: rotate(15deg); }  
    30% { transform: rotate(10deg); }  
    40% { transform: rotate(5deg); }  
    50% { transform: rotate(-5deg); }  
    60% { transform: rotate(-10deg); }
    70% { transform: rotate(-15deg); }
    80% { transform: rotate(-10deg); }
    90% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes transitionLeft{
    0% {
        opacity: 0.1;
        transform: translateX(50vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}