<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="secondary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name" routerLink="menu" style="cursor: pointer;" >Mayi Beer Collection</h1><mat-icon class="beer-icon">sports_bar</mat-icon>
    <div class="spacer"></div>
    <button mat-mini-fab class="button-login" [color]="isAdmin? 'warn': 'accent'" [matTooltip]="isAdmin? 'Cerrar sesión': 'Ingresar'" (click)="toggleLogin()"><mat-icon>person</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="nav-list">
        <div class="center" *ngFor="let nav of fillerNav">
          <mat-icon>{{nav.icon}}</mat-icon> <a mat-list-item routerLink={{nav.routerlink}} >  {{nav.nombre}}</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>      
      <router-outlet></router-outlet>
      <div class="spacer"></div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>