.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly
  }

  .class-success{
    margin-right: 5px;
    color: #65cd23;
  }

  .class-warning{
    margin-right: 5px;
    color: orange;
  }

  .class-error{
    margin-right: 5px;
    color: red;
  }

  h1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }