<div mat-dialog-content class="dialog-content">    
    <div class="card-container">
        <h1>{{title}}</h1>
        <form [formGroup]="formGroup" class="form-horizontal row">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input  formControlName="nombre" matInput type="text" placeholder="" [(ngModel)]="datos.nombre">
        </mat-form-field>
        <div class="center">
            <button type="button" mat-raised-button color="warn" (click)="fileInput.click()">Seleccionar imagen</button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
        </div>
        <div>
            <br>
            <img id="image-beer" [src]="imageFileSanitized" alt="Imagen" style="width: 100%; height: 270px;">
        </div>
        </form>          
    </div>   
</div>
<div mat-dialog-actions class="dialog-actions">
    <button type="button" class="btn btn-success" (click)="save()">Guardar</button>
    <button type="button" class="btn btn-danger" [mat-dialog-close]="true">Cancelar</button>
</div>