<div class="container">
    <mat-card class="form">
        <mat-card-title class="form">Login</mat-card-title>
    <mat-card-content>
    <form [formGroup]="formGroup" class="form-horizontal row" (ngSubmit)="onLogin($event)">
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input formControlName="Login" matInput type="text" placeholder="" autocomplete="off">
        </mat-form-field>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName="Password" matInput type="password"  autocomplete="off">
        </mat-form-field>

    <p *ngIf="error" class="error">
        {{ error }}
    </p>

    <div class="button">
        <button type="submit" mat-raised-button color="accent">Ingresar</button>
    </div>

    </form>
    </mat-card-content>
    </mat-card>
</div>
