mat-form-field{
    width: 100%
}

.form-half{
    width: 49%;
    margin-right: 2px;
}

.center{
    display: flex;
    justify-content: center;
}

.dialog-actions{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

img{
    cursor:pointer;
}

.text-danger{
    margin: 0;
    padding: 0;
    color: crimson;
}

.text-hidden{
    margin: 0;
    padding: 0;
    color: transparent;
}

.mat-mdc-dialog-surface{
    background-color: red!important
}