<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div mat-dialog-content class="dialog-content">    
    <div class="card-container">
        <h1>{{title}}</h1>
        <mat-divider></mat-divider><br>
        <form [formGroup]="formGroup" class="form-horizontal row">
        <p *ngIf="formGroup.controls['nombre'].hasError('required') && formGroup.controls['nombre'].touched" class="text-danger">El valor es requerido</p>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input  formControlName="nombre" matInput type="text" placeholder="" [(ngModel)]="datos.nombre">
        </mat-form-field>
        <div class="center">
            <button type="button" mat-raised-button color="warn" (click)="fileInput.click()">Seleccionar imagen</button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
            <br>
        </div>
        <div class="center">
            <br>
            <img id="image-beer" [src]="imageFileSanitized" alt="Imagen" style="width: 100%; max-width: 360px; height: 200px;">
        </div>
        </form>          
    </div>   
</div>
<div mat-dialog-actions class="dialog-actions">
    <button type="button" [disabled]="!formGroup.valid" #fileInput class="btn btn-success" (click)="save()">Guardar</button>
    <button type="button" class="btn btn-danger" [mat-dialog-close]="true">Cancelar</button>
</div>