.class-icon{
    font-size: 5vh;
    min-height: 5vh;
    min-width: 5vh;
    color: rgba(0,0,0,0.4);
    animation: 0.5s ease-out 0s 1 transitionLeft;
}

.green{
    color:white;
    background-color: green;
    min-height: 3vw;
    min-width: 3vw;
    animation: 0.5s ease-out 0s 1 transitionRight;
}

.titulo{
    font-size: 2rem; 
    font-weight: 700;
    background: -webkit-linear-gradient(#FFFFFF, #777777);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(50,50,50,0.1);
    animation: 1s ease-out 0s 1 transitionOpacity;
}

.title-grilla{ 
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    align-items: center;
    font-size: 3vh;
    min-height: 5vw;
    margin: 0vw 6vw 2vw 6vw;
    padding: 1vw 2%;
    border-radius: 0 0 15px 15px;
    background-image: linear-gradient(-180deg,#606060,#303030 90%);
    fill:#fff;  
    background-repeat:repeat;
  }

@media screen and (max-width: 575px) {
    .title-grilla{ 
        margin: 0;
        border-radius: 0;
    }

    .titulo{
        font-size: 1.5rem;
        text-align: center 
    }
}   

@keyframes transitionRight{
    0% {
        opacity: 0.1;
        transform: translateX(-400%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionLeft{
    0% {
        opacity: 0.1;
        transform: translateX(400%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionOpacity{
    0% {
        opacity: 0.1;       
    }
    100% {
        opacity: 1;       
    }
}