<div class="banner"></div>

<div class="title">
    Marcas
</div>
<div class="container">
    <ng-image-slider [images]="marcasObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: '20%'}"
    slideImage="1"
    (imageClick)="imageClickFxn($event)"    
    [imagePopup]="false"
     #nav1
     style="cursor: pointer"
     ></ng-image-slider>
</div>  


<div class="title">
    Paises
</div>
<div class="container">
    <ng-image-slider [images]="paisesObject"
    [infinite]="true"
    [autoSlide]="3"
    [imageSize]="{width: '25%', height: '15%'}"
    slideImage="1"
    (imageClick)="imageClickFxn($event)"    
    [imagePopup]="false"
     #nav2
     style="cursor: pointer"
     ></ng-image-slider>
</div> 


<div class="title">
    Estilos
</div>
<div class="container">
    <ng-image-slider [images]="estilosObject"
    [infinite]="true"
    [autoSlide]="2"
    [imageSize]="{width: '25%', height: '20%'}"
    slideImage="2"
    (imageClick)="imageClickFxn($event)"    
    [imagePopup]="false"
     #nav3
     style="cursor: pointer"
     ></ng-image-slider>
</div> 
