<div class="banner">

<div class="d-flex justify-content-center">
    <span class="titulo" id="titulo" style="text-align: center">Bienvenido a MayiBeerCollection</span>
</div>
</div>
<br><br>
<div class="container-fluid">
    <div class="title">
        Marcas
    </div>
    <ng-image-slider [images]="marcasObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '22%', height: '18%'}"
    slideImage="1"
    (imageClick)="imageClick($event, 'idMarca')"    
    [imagePopup]="false"
     #nav1
     style="cursor: pointer"
     ></ng-image-slider>
</div>  

<div class="spacer"></div>

<div class="container-fluid">
    <div class="title">
        Paises
    </div>
    <ng-image-slider [images]="paisesObject"
    [infinite]="true"
    [autoSlide]="3"
    [imageSize]="{width: '25%', height: '14%'}"
    slideImage="1"
    (imageClick)="imageClick($event, 'idPais')"    
    [imagePopup]="false"
     #nav2
     style="cursor: pointer"
     ></ng-image-slider>
</div> 

<div class="spacer"></div>

<div class="container-fluid">
    <div class="title">
        Estilos
    </div>
    <ng-image-slider [images]="estilosObject"
    [infinite]="true"
    [autoSlide]="2"
    [imageSize]="{width: '22%', height: '18%'}"
    slideImage="2"
    (imageClick)="imageClick($event, 'idEstilo')"    
    [imagePopup]="false"
     #nav3
     style="cursor: pointer"
     ></ng-image-slider>
</div> 
